.banner {
  width: 100%;
}

body {
  margin: 0px;
  background-color: #310639;
}

h1 {
  text-align: center;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  color: white;
}

a {
  text-align: center;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  position: relative;
  background-color: #72d57d;
  border-radius: 8px;
}

a:hover {
  background-color: #468753;
}

hr {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

table {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

p {
  font-size: 16px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: white;
  line-height: 20px;
}

.main {
  padding: 7%;
}

.buttons {
  padding: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

thead {
  text-align: left;
}

thead th {
  border-bottom: 2px solid white;
}

th {
  width: 27%;
  text-align: center;
}

th.player {
  width: 18%;
  text-align: left;
}

td.player {
  text-align: left;
}

td {
  text-align: center;
}
