/* 
************ Fonts, headings, text ************
*/

h1 {
  text-align: center;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  color: white;
}

h1.detail-view {
  text-align: center;
  margin: -10px;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  color: white;
}

h3 {
  margin-top: 15%;
  margin-bottom: 2px;
  text-align: left;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #62d57d;
}

h4 {
  margin: 0px 0px 5% 0px;
  text-align: left;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  color: #62d57d;
}

p {
  font-size: 15px;
  text-align: left;
  font-family: 'Lato', sans-serif;
  color: white;
  line-height: 20px;
  font-weight: 300;
}

/* 
************ Specific classes *************** 
*/

.header {
  background-color: #310639;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-bottom: 20px;
}

.banner {
  width: 100%;
  padding-bottom: 5px;
}

.links {
  text-align: center;
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  color: #2c0937;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  position: relative;
  background-color: #62d57d;
  border-radius: 8px;
}

.links:hover {
  background-color: #468753;
}

.main {
  padding: 7%;
}

.back-button {
  font-size: 15px;
  padding-left: 2%;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #62d57d;
  position: relative;
  border-radius: 8px;
}

.material-icons {
  top: 7px;
  position: relative;
  color: #62d57d;
  padding-right: 5px;
}

.soccer {
  font-size: 15px !important;
  top: 2px !important;
}

.buttons {
  padding: 0px 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  position: relative;
  bottom: 0;
  font-size: 7px;
  padding-left: 7%;
}

/* 
************ HTML elements ************
*/

body {
  margin: 0px;
  background-color: #310639;
}

hr {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

table {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  width: 100%;
}

table.scoring-table td {
  padding: 2px !important;
}

table.second-detail-table {
  margin-top: 1%;
}

thead {
  text-align: left;
}

thead th {
  border-bottom: 2px solid white;
}

th {
  width: 27%;
  text-align: center;
  padding-bottom: 3px;
}

th.player {
  width: 18%;
  text-align: left;
  padding-bottom: 3px;
}

th.table-head-detail {
  width: 25%;
}

td.player {
  text-align: left;
}

td {
  text-align: center;
  padding: 5px;
}
