<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scoring rules</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <img class="banner" src="/images/premier-league-banner.png" />
    <a class="back-button" href="/"><i class="material-icons">arrow_back</i>Back to home</a>
    <div class="main">
      <h1>Detailed View</h1>
      <div class="detail-view">
        {%DETAIL_TABLE%}
      </div>
      </div>
    </div>
  </body>
</html>
