<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Draft Kings Standings</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet" />
  </head>
  <body>
    <img class="banner" src="/images/premier-league-banner.png" />
    <div class="main">
      <h1>Draft League Standings</h1>
      <div class="standings-table">
        <table>
          <thead>
            <tr>
              <th class="player">Player</th>
              <th>TP Rank</th>
              <th>H2H Rank</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            {%STANDINGS_TABLE%}
          </tbody>
        </table>
      </div>
      <hr />
    </div>
    <div class="buttons">
      <a class="links" href="https://draft.premierleague.com" target="_blank">Fantasy draft</a>
      <a class="links" href="/scoring" target="_self">Scoring rules</a>
      <a class="links" href="/detail" target="_self">Detailed view</a>
    </div>
  </body>
</html>
