<h3>{%PLAYER_NAME%}</h3>
<h4>{%TEAM_NAME%}</h4>
<table>
  <thead>
    <tr>
      <th class="table-head-detail">Pts For</th>
      <th class="table-head-detail">Pts Agst</th>
      <th class="table-head-detail">H2H Pts</th>
      <th class="table-head-detail">H2H Rank</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{%TOTAL_POINTS%}</td>
      <td>{%POINTS_AGAINST%}</td>
      <td>{%H2H_POINT%}</td>
      <td>{%H2H_RANK%}</td>
    </tr>
  </tbody>
</table>
<table class="second-detail-table">
  <thead>
    <tr>
      <th class="table-head-detail">TP Rank</th>
      <th class="table-head-detail">H2H Score</th>
      <th class="table-head-detail">TP Score</th>
      <th class="table-head-detail"><i class="material-icons soccer">sports_soccer</i>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{%TP_RANK%}</td>
      <td>{%H2H_SCORE%}</td>
      <td>{%TP_SCORE%}</td>
      <td>{%SCORE%}</td>
    </tr>
  </tbody>
</table>
