<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scoring rules</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet" />
  </head>
  <body>
    <img class="banner" src="/images/premier-league-banner.png" />
    <div class="main">
      <h1>Scoring Rules</h1>
      <p>The point of the scoring system is to also keep account of the total points to remove some randomness and luck and introduce more long-term strategic thinking. Scoring is calculated by following the formulas* below:
        <br><br>H2H: 8 - Your H2H Rank
        <br><br>TP: (8 - Your TP Rank) + (9 - Your TP Rank)/10
        <br><br>The score on the home page is a summation of the two score calculated.
      </p>
      <p>* © Johan Smal</p>
      </div>
    </div>
  </body>
</html>
