.detailViewLayout {
  background-color: #310639;
}

.secondDetailTable {
  margin-top: 1%;
}

.standingsTable {
  margin: 0 5%;
}

th.player {
  width: 18%;
  text-align: left;
  padding-bottom: 3px;
}

.tableHeadDetail th {
  width: 25%;
}

td.player {
  text-align: left;
}
