@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  min-height: 900px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 20px;
}

h3 {
  margin-bottom: 2px;
  text-align: left;
  font-size: 18px;
  color: #310639;
  /* color: #00edfd; */
  /* color: #f8d675; */
  /* color: #75fa95; */
}

body {
  margin: 0px;
  /* background-color: #310639; */
  background-image: linear-gradient(#310639, 90%, #00edfd);
  /* background-color: #1d395e; */
}

@media only screen and (max-width: 600px) {
  main {
    padding: 0;
    display: block;
  }

  html body {
    position: absolute;
  }
}

table {
  font-weight: 300;
  color: white;
  font-size: 14px;
}

thead {
  text-align: left;
}

thead th {
  border-bottom: 2px solid white;
}

th {
  width: 27%;
  text-align: center;
  padding-bottom: 3px;
}

td {
  text-align: center;
  padding: 5px;
}
