.homeNav {
  text-align: center;
  font-weight: 600;
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #310639;
  padding-bottom: 10px;
}

.backButton {
  font-size: 16px;
  text-decoration: none;
  color: #00edfd;
  position: relative;
  border-radius: 8px;
  margin-bottom: 5%;
}

.banner {
  position: relative;
  background-color: #310639;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .banner {
    width: 100%;
    margin-top: -30px;
  }
}
